# OSX
.DS_Store
._*

# PhpStorm
.idea

# Sublime Text
*.sublime-*

# Vagrant
.vagrant
vagrant.json

# Composer
dev/public/vendor
vagrant/vendor

# Emulsion
dev/public/files/library/
dev/public/files/log/
dev/public/files/cache/

# CUTS
.sass-cache/
node_modules/

