# OSX
.DS_Store
._*

# PhpStorm
.idea

# Sublime Text
*.sublime-*

# Vagrant
.vagrant
vagrant.json

# Composer
public/vendor
vagrant/vendor

# Emulsion
public/files/library/**/_mini
public/files/logs/
public/files/cache/
public/files/config/config.xml
public/.htaccess

# CUTS
.sass-cache/
node_modules/

# MAMP dev
.htaccess
